.bg-container{
    background-color: #3ce7df;
    background-image: url("https://i.pinimg.com/originals/14/74/89/14748961d5c979e3cdda1b70d766ea6d.jpg");
    background-size: cover;
}









.heading{
    font-family: "roboto";
    color: aqua;
}

.header-element{
    border-radius: 30px;
    padding: 10px;
    margin: 20px;
    background-color: #e9f1e0;
}

.main-container{

    background-size: cover;
    min-height: 100vh;
    width: 100%;

}

.card-container{
    background-color:#9d9e9ec5;
    
    max-width: 480px;   
    width: 100%;
    padding: 20px;
    border-radius: 10px;
}

.input-element{
    background: linear-gradient(#111213,#2b2d30);
    height: 70px;              
    border-radius: 10px;
    margin: 10px;
    color: white;
    font-family:'Arial';
    font-weight: bolder;
    font-size: 25px;
    border: 0px;
}

.input-elementc{
    background: linear-gradient(#db4242,#660c0c);
    height: 70px;             
    border-radius: 10px;
    margin: 10px;
    color: white;
    font-family:'Arial';
    font-weight: bolder;
    font-size: 25px;
    border: 0px;
}

.input-element1{
    background: linear-gradient(#111213,#2b2d30);
    height: 70px;             
    border-radius: 10px;
    margin: 10px;
    color: white;
    font-family:'Arial';
    font-weight: bolder;
    font-size: 25px;
    border: 3px;
}

.input-E1{
    border: 0px;
    font-size: 30px;
    height: 70px;              
    font-weight: bold;
}


input[type="button"] {
    width: 100%;
}
