.heading{
    font-family: "roboto";
    color: aqua;
}

.header-element{
    border-radius: 30px;
    padding: 10px;
    margin: 20px;
    background-color: #f0f8ff;
}
.main-container{
    background-color: #222b5a;
    background-size: cover;
    height: 100vh;
    width: 100%;
    background: linear-gradient(#0b1729,#1c355a,#0b1729);
}
.card-container{
    background-color:#fffcfce7;
    height: 80vh;
    width: 65vh;
    padding: 20px;
    border-radius: 10px;
}

.input-element{
    background: linear-gradient(#4c6a97,#214274);
    height: 10vh;
    width: 10vh;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    color: white;
    font-family:  'Arial Narrow Bold';
    font-weight: bolder;
    font-size: 25px;
    border: 0px;
}
.input-elementc{
    background: linear-gradient(#c25f5f,#721515);
    height: 10vh;
    width: 10vh;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    color: white;
    font-family:  'Arial Narrow Bold',;
    font-weight: bolder;
    font-size: 25px;
    border: 0px;
}
.input-element1{
    background: linear-gradient(#4c6a97,#214274);
    height: 10vh;
    width: 23.2vh;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    color: white;
    font-family:  'Arial Narrow Bold';
    font-weight: bolder;
    font-size: 25px;
    border: 0px;
}
.input-E1{
    border: 0px;
    
    font-size: 30px;
    height: 10vh;
    font-weight: bold;
}